@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

    * {
      margin: 0;
      box-sizing: border-box;
    }

    body {
      width: 100%;
      height: 100vh;
      background: #212121;
      color: #fff;
      position: relative;
    }

    .heading {
      font-size: 28px;
      font-weight: 500 !important;
      color: #fff;
      font-family: "Roboto", sans-serif;
      text-align: center;
      margin-bottom: 35px;
      /* margin-top: 300px!important; */
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60%;
      flex-direction: column;
      position: relative;
    }
    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
      position: relative;
      justify-content: flex-end;
    }

    #userInput {
      background: #2f2f2f;
      color: #fff;
      outline: 0;
      border: 0;
      width: 800px;
      padding: 15px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 50px;
      max-height: 450px !important;
      resize: none;
      overflow-y: auto;
      line-height: 20px;
      font-size: 15px;
    }
    #userInput::placeholder {
      color: #dbd5d5;
    }
    #userInput::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    #userInput::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      cursor: auto;
    }
    .input-div-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .input-div {
      display: block;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
    }

    .btn-container {
      height: 35px;
      width: 800px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background: #2f2f2f;
      margin: 0;
      padding: 0;
    }

    #send-btn img {
      width: 30px;
      margin: 0;
    }

    #send-btn {
      right: 6px;
      bottom: 8px;
      margin: 0;
      border: 0;
      outline: 0;
      background: white;
      position: absolute;
      height: 32px;
      width: 32px;
display: flex;
justify-content: center;
align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
    #send-btn:disabled{
      pointer-events: none;
      background: #676767;
    }
#send-btn img{
  width: 16px;
}
    @media (max-width: 850px) {
      #userInput {
        width: 700px;
      }
      .btn-container {
        width: 700px;
      }
    }
    @media (max-width: 475px) {
      .btn-container {
        width: 90% !important;
      }
      #userInput {
        width: 90% !important;
      }
    }
    @media (max-width: 550px) {
      .heading {
        margin-top: 150px !important;
      }
      .input-div-container {
        margin-top: 250px;
        margin-bottom: 25px;
      }
      .btn-container {
        width: 450px !important;
      }
      #userInput {
        width: 450px !important;
      }
      .container {
        height: 100%;
        justify-content: flex-end;
      }
      footer {
        font-size: 12px;
      }
    }
    @media (max-width: 750px) {
      #userInput {
        width: 600px;
      }
      .btn-container {
        width: 600px;
      }
    }

    @media (max-width: 650px) {
      #userInput {
        width: 500px;
      }
      .btn-container {
        width: 500px;
      }
    }
    .messages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 800px;
      margin: 0 auto;
      padding: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
    .messages::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    .messages::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      cursor: auto;
    }
    .message-div {
      height: 90%;
      width: 100%;
      display: flex;
      justify-content: center;
      overflow-y: auto;
      scroll-behavior: smooth;
    }
    .message-div::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    .message-div::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      cursor: auto;
    }

    .user-message-span {
      background: #303030;
      color: white;
      padding: 0.825rem 1.45rem;
      border-radius: 25px;
      max-width: 70%;
      font-size: 16px;
      line-height: 20px;
      font-family: "Roboto", sans-serif;
      align-self: flex-end;
      word-wrap: break-word;
      white-space: normal;
      margin-bottom: 20px;
    }

    .bot-response-span {
      color: white;
      padding: 10px;
      border-radius: 10px;
      max-width: 70%;
      font-size: 16px;
      line-height: 20px;
      font-family: "Roboto", sans-serif;
      align-self: flex-start;
      word-wrap: break-word;
      white-space: normal;
      margin-bottom: 20px;
    }
    .bot-response-wrapper {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      width: 800px;
    }

    .bot-img {
      width: 30px;

      margin-right: 10px;
    }

    footer {
      display: flex;
      justify-content: center;
    }
    footer p {
      position: absolute;
      bottom: 0;
      color: #dbd5d5;
      font-size: 14px;
      text-align: center !important;
      font-family: "Roboto", sans-serif;
    }

    .login {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 0;
      border: 0;
      background: #fff;
      border-radius: 9999px;
      padding: 0.5rem 0.875rem;
      position: absolute;
      right: 100px;
      top: 8px;
      border: 1px solid gray;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
    }

    #login {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .sign-up {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 0;
      border: 0;
      color: #fff;
      background: transparent;
      border-radius: 9999px;
      padding: 0.5rem 0.875rem;
      position: absolute;
      right: 10px;
      top: 8px;
      border: 1px solid gray;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
    }

    #signup {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }

    a {
      cursor: pointer;
    }

    .hide {
      display: none;
    }
    .login-signup {
      display: flex;
      margin-bottom: 40px;
      width: 100%;
      align-items: center;
      font-family: "Roboto", sans-serif;
    }
    .thinking-div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    #name {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: absolute;
      left: 55px;
      top: 9px;
      font-size: 18px;
      font-weight: 600;
      color: gray;
      font-family: "Roboto", sans-serif;
    }
    .img-bot {
      position: absolute;
      top: 1px;
      left: 15px;
      width: 30px;
    }